<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script th:src="@{/js/script.js}"></script>
    <title>ログイン画面</title>
</head>
<body>
<!-- エラーメッセージの表示 -->
<div class="errorMessages">
    <ul>
        <div th:if="${errorMessages}" th:each="error : ${errorMessages}">
            <li><div th:text="${error}" /></li>
        </div>
        <div th:if="${validationError}" th:each="error : ${validationError}">
            <li><div th:text="${error}" /></li>
        </div>
    </ul>
</div>
<div class="header-contents">
    <h1>ログイン画面</h1>
</div>
<div class="main-contents">
    <form method="post" action="/login" th:object="${userForm}">
        <label>アカウント名</label><br/>
        <input type="password" th:field="*{account}" id="account"/><br />

        <label>パスワード</label><br/>
        <input type="password" th:field="*{password}" id="password"/><br />

        <input type="submit" value="ログイン" /><br />
    </form>
</div>
</body>
</html>