<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="jp">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script th:src="@{/js/script.js}"></script>
    <title>新規投稿</title>
</head>
<body>
<div class="header-contents">
    <h2>新規投稿</h2>
</div>
<div class="main-contents">
    <form th:method="put" th:action="@{/add-message}" th:object="${messageForm}">
        <div class="form-area">
            <!-- エラーメッセージの表示 -->
            <div class="errorMessages">
                <ul>
                    <div th:if="${validationError}" th:each="error : ${validationError}">
                        <li><div th:text="${error}"></div></li>
                    </div>
                </ul>
            </div>
            <label for="title">件名</label><br/>
            <textarea class="tweet-box" th:field="*{title}" size="50" maxlength="200" id="title" /></textarea><br/>
            <!-- 件名、本文、カテゴリーそれぞれの下にエラーメッセージ表示 -->
            <div class="errorMessages">
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br/>
            </div>
            <label for="text">本文</label><br/>
            <textarea class="tweet-box" th:field="*{text}" size="50" maxlength="1500" id="text" /></textarea><br/>
            <div class="errorMessages">
                <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span><br/>
            </div>
            <label for="category">カテゴリー</label><br/>
            <textarea class="tweet-box" th:field="*{category}" size="50" maxlength="200" id="category" /></textarea><br/>
            <div class="errorMessages">
                <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span><br/>
            </div>
            <input type="submit" value="投稿" />
            <!-- セッションに格納したログインユーザーのIDをcontrollerに渡す
            <input type="hidden" name="userId" value="${user.id}" />
            -->
        </div>
    </form>
</div>
<div class="footer-contents">
    <form action="./top">
        <input type="submit" value="戻る" />
    </form>
</div>
</body>
</html>