<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script th:src="@{/js/script.js}"></script>
    <title>ユーザー管理画面</title>
</head>
<body>
<div class="header-contents">
    <!-- エラーメッセージの表示 -->
    <div class="error-messages">
        <ul>
            <div th:if="${session.editErrorMessages}" th:each="error : ${session.editErrorMessages}">
                <li><div th:text="${error}"></div></li>
            </div>
        </ul>
    </div>
    <h1>ユーザー管理</h1>

    <!-- ユーザー登録ボタン -->
    <div>
        <a href="/user-registration">
            <button type="button">ユーザー登録</button>
        </a>
    </div>
    <br/>
    <form action="./top">
        <input type="submit" class="edit-return" value="戻る" />
    </form>
    <!-- ユーザー一覧表示 -->
    <table>
        <thead>
            <tr>
                <th>アカウント</th>
                <th>氏名</th>
                <th>支社</th>
                <th>所属部署</th>
                <th>アカウント状態</th>
                <th>ユーザー情報編集</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.account}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.branchName}"></td>
                <td th:text="${user.departmentName}"></td>
                <td>
                    <th:block th:switch="${user.isStopped}">
                        <span th:case="0">
                            <form th:method="post" th:action="@{/change-isStopped/{id}(id=${user.id})}" onSubmit="return CheckChange()">
                                <input type="submit" value=復活 onclick="return false;">
                                <input type="submit" th:value="変更" th:disabled="${session.user.id} == ${user.id}">
                                <input type="hidden" th:name="isStopped" th:value="1" class="isStoppedNumber">
                            </form>
                        </span>
                        <span th:case="1">
                            <form th:method="post" th:action="@{/change-isStopped/{id}(id=${user.id})}" th:object="${userForm}" onSubmit="return CheckChange()">
                                <input type="submit" value="停止" onclick="return false;">
                                <input type="submit" th:value="変更">
                                <input type="hidden" th:name="isStopped" th:value="0" class="isStoppedNumber">
                            </form>
                        </span>
                    </th:block>
                </td>
                <!-- ユーザー編集ボタン -->
                <td>
                    <a th:href="@{/user-edit-{id}(id=${user.id})}">
                        <input type="submit" value="編集">
                        <input type="hidden" name="id" th:value="${user.id}">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="footer-contents">
    <form action="./top">
        <input type="submit" value="戻る" />
    </form>
</div>
</body>
</html>