/* エラーメッセージ */
.error-messages {
	color: red;
}
/* 共通 */
body {
    background-color: #f0f8ff;
    font-size: 20px;
}
.header-contents{
    text-align: center;
}
.main-contents {
    text-align: center;
}
/* login */
.login-form {
    display: block;
    margin: 5% auto;
    padding: 2%;
    width: 20%;
    text-align: center;
}
.login-form-account {
    font-size: 20px;
    text-align: left;
    margin: 2%;
}
.login-form-password {
    font-size: 20px;
    text-align: left;
    margin: 2%;
}
/* top */
.message-icon {
    display: block;
    margin: 5% auto;
    padding: 2%;
    width: 60%;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 30px;
    box-shadow: 4px 4px;
}
.message-contributor {
    text-align: left;
    font-size: 20px;
}
.message-title {
    text-align: left;
    font-size: 15px;
}
.message-category {
    text-align: left;
    font-size: 15px;
}
.message-date {
    text-align: right;
    font-size: 15px;
}
.message-label-text {
    text-align: left;
    font-size: 15px;
}
.message-text {
    text-align: left;
    font-size: 20px;
}
.new-comment {
    text-align: right;
    font-size: 20px;
}
.comment-icon {
    text-align: right;
    font-size: 20px;
}

/* ボタン */
.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--blue {
  color: #fff;
  background-color: #00BFFF;
}

.btn--blue:hover {
  color: #fff;
  background: #1E90FF;
}

/* submit共通 */
input[type="submit"] {
    background-color: #87CEFA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* 色変化にアニメーションを追加 */
}

input[type="submit"]:hover {
    background-color: #1E90FF; /* ホバー時に背景色を変更 */
}

/* submit(削除限定) */
input[type="submit"][value="削除"] {
    background-color: #FF6347;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* 色変化にアニメーションを追加 */
}

input[type="submit"][value="削除"]:hover {
    background-color: #FF0000; /* ホバー時に背景色を変更 */
}

/* button共通 */
button[type="button"] {
    background-color: #87CEFA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* 色変化にアニメーションを追加 */
}

button[type="button"]:hover {
    background-color: #1E90FF; /* ホバー時に背景色を変更 */
}

/* 「type="text"」共通 */
input[type="text"] {
    width: 150px;
    height: 10px;
    padding: 10px;
    font-size: 16px;
}

/* 「type="password"」共通 */
input[type="password"] {
    width: 150px;
    height: 10px;
    padding: 10px;
    font-size: 16px;
}

/* 「type="date"」共通 */
input[type="date"] {
    width: 150px;
    height: 10px;
    padding: 10px;
    font-size: 16px;
}
