/* エラーメッセージ */
.error-messages {
	color: red;
}
/* 共通 */
body {
    background-color: #f0f8ff;
}
.main-contents {
    text-align: center;
}
/* top */
.message-icon {
    display: block;
    margin: 5% auto;
    padding: 5%;
    width: 60%;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 30px;
    box-shadow: 4px 4px;
}
.message-part {

}