/* エラーメッセージ */
.error-messages {
	color: red;
}
/* 共通 */
body {
    background-color: #f0f8ff;
}
.main-contents {
    text-align: center;
}
/* top */
.message-icon {
    display: block;
    margin: 5% auto;
    padding: 2%;
    width: 60%;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 30px;
    box-shadow: 4px 4px;
}
.message-contributor {
    text-align: left;
    font-size: 20px;
}
.message-title {
    text-align: left;
    font-size: 15px;
}
.message-category {
    text-align: left;
    font-size: 15px;
}
.message-date {
    text-align: right;
    font-size: 15px;
}
.message-label-text {
    text-align: left;
    font-size: 15px;
}
.message-text {
    text-align: left;
    font-size: 20px;
}
.new-comment {
    text-align: right;
    font-size: 20px;
}
.comment-icon {
    text-align: right;
    font-size: 20px;
}