<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ot.mapper.BranchMapper">

    <resultMap id="branch" type="com.example.ot.entity.Branch">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>

    <select id="findAll" resultMap="branch">
        SELECT * FROM branches
    </select>
</mapper>